# Dependências
node_modules/
yarn.lock

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
.cypress/

# Allure
allure-results/
allure-report/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# TypeScript
*.tsbuildinfo

# Variáveis de ambiente
.env
.env.local
.env.*.local
cypress.env.json
